@page "/"

@inject ILogger<Index> Logger
@inject NavigationManager NavigationManager
@inject ProtectionService ProtectionService

<div class="row h-100 login-page">
	<div class="col align-self-center">

		<div class="d-flex flex-column justify-content-center align-items-center">
			<form @onsubmit=Enter class="text-center mb-3">
				@*<h1 class="mb-3 font-weight-normal">
					<img src="images/logo_main.webp" height="256" style="margin: -64px" alt="Lan2Play - Zugang" />
					</h1>*@
				<div class="d-flex justify-content-center">
					<input type="password" id="secret" @bind="@AccessCode" class="form-control border-primary shadow-none m-2 mb-3 lg-font" placeholder="Zugangscode">
				</div>
				<div class="alert alert-warning alert-dismissible lg-font m-2" hidden="@ErrorHidden">
					Falscher Zugangscode. Bitte Zugangscode überprüfen.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="@CloseAlert">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="d-flex justify-content-center">
					<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="() => AddToCode(7)">7</button>
					</div>
					<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="() => AddToCode(8)">8</button>
					</div>
					<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="() => AddToCode(9)">9</button>
					</div>
				</div>

				<div class="d-flex justify-content-center">
					<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="() => AddToCode(4)">4</button>
					</div>
					<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="() => AddToCode(5)">5</button>
					</div>
					<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="() => AddToCode(6)">6</button>
					</div>
				</div>

				<div class="d-flex justify-content-center">
					<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="() => AddToCode(1)">1</button>
					</div>
					<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="() => AddToCode(2)">2</button>
					</div>
					<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="() => AddToCode(3)">3</button>
					</div>
				</div>

				<div class="d-flex justify-content-center">
					@*<div class="m-2">
						<div class="btn-key" style="visibility: hidden;"></div>
						</div>*@
					<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="() => AddToCode(0)">0</button>
					</div>
					@*			<div class="m-2">
						<button class="btn btn-outline-primary btn-block shadow-none lg-font btn-key" @onclick="CheckAccessCodeManagement"><span class="oi oi-check"></span></button>
						</div>*@
				</div>
			</form>
			<div class="m-3">
				<button class="btn btn-outline-primary btn-block shadow-none lg-font" @onclick="@CheckAccessCodeSettings"><span class="oi oi-wrench"></span>Settings</button>
			</div>
		</div>

	</div>
</div>

<footer class="fixed-bottom text-center footer">
	<a href="/impressum">Impressum</a>
</footer>

