@page "/management"

@implements IDisposable


<h1>Hello, world!</h1>

<video id="videoFeed" width="1920" height="1080" style="margin-left:-5000px" />

<div class="row">
	<div class="col-auto"></div>
	<div class="col-3 col-md-2">
		<ul>

			@foreach (var ticketRequests in TicketRequests)
			{
				<li>
					@ticketRequests.Participant.User.Firstname @ticketRequests.Participant.User.Surname
				</li>
			}

		</ul>
	</div>

</div>

<footer class="fixed-bottom text-center footer">
	<a href="settings/?ac=@AccessCode">Settings</a>
</footer>

