@inherits LayoutComponentBase

<div class="page w-100 h-100 ">
@*    <div class="sidebar">
    </div>*@

    <div class="main w-100 h-100 ">
       @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <div class="content w-100 h-100  px-4">
            @Body
        </div>
    </div>
</div>
